<div class="w-full max-w-2xl mx-auto my-10">
  <div class="border border-gray-200 sm:flex  shadow-lg">
    <div class="sm:w-5/12 w-full bg-grey-light bg-cover bg-center text-white rounded-l"
        style="background-image: url('assets/images/stanley-dai-73OZYNjVoNI-unsplash.jpg')">
      <div class="p-8">
      <h1>SIGN<span class="text-indigo-light">UP</span></h1>
      <p class="leading-tight mt-2 text-sm text-white">Create an account to join our awesome community</p>
      </div>
    </div>
    <div class="sm:w-7/12 w-full bg-white rounded-r">
      <div class="p-8">
        <div class="font-bold text-xl text-center text-indigo-700 mb-4">
          Sign up for Authors-Haven
        </div>
        <div *ngIf="errorMessage" class="text-red-700 my-1 text-sm text-center font-semibold">{{ errorMessage }}</div>
        <form [formGroup]="forms" (ngSubmit)="submitForm()">
          <label for="username" class="text-xs block text-gray-700 font-bold mt-4">Username</label>
          <input id="username" formControlName="username" class="bg-transparent text-sm border block border-grey w-full py-2 px-4 mb-2 text-grey-darker focus:outline-none focus:bg-white focus:border-indigo-500 focus:border-2" type="text"/>
          <div *ngIf="forms.controls.username.invalid && !forms.controls.username.pristine" class="mb-2 text-red-500 text-sm">
            <div *ngIf="forms.controls.username?.errors?.required">Username is required field.</div>
            <div *ngIf="forms.controls.username?.errors?.minlength">Your username is too short.</div>
            <div *ngIf="forms.controls.username?.errors?.maxlength">Your username is too long.</div>
          </div>
          <label for="email" class="text-xs block text-gray-700 font-bold mt-4">E-mail address</label>
          <input id="email" formControlName="email" class="bg-transparent text-sm border block border-grey w-full py-2 px-4 mb-2 text-grey-darker focus:outline-none focus:bg-white focus:border-indigo-500 focus:border-2" type="text"/>
          <div *ngIf="forms.controls.email.invalid && !forms.controls.email.pristine" class="mb-2 text-red-500 text-sm">
            <div *ngIf="forms.controls.email?.errors?.required">Email is required field.</div>
            <div *ngIf="forms.controls.email?.errors?.email">Please provide a valid email address</div>
          </div>
          <label id="password" class="text-xs block text-gray-700 font-bold mt-4">Password</label>
          <input id="password" formControlName="password" class="bg-transparent text-sm border block border-grey w-full py-2 px-4 text-grey-darker focus:outline-none focus:bg-white focus:border-indigo-500 focus:border-2" type="password" placeholder=""/>
          <div *ngIf="forms.controls.password.invalid && !forms.controls.password.pristine" class="mb-2 text-red-500 text-sm">
            <div *ngIf="forms.controls.password?.errors?.required">Your password is required.</div>
            <div *ngIf="forms.controls.password?.errors?.minlength">Your password must be at least 6 chars long.</div>
          </div>
          <button type="submit" [disabled]="!forms.valid" class="my-4 py-2 w-full text-white bg-indigo-700 hover:bg-indigo-light rounded cursor-pointer focus:outline-none">Sign up</button>
        </form>
        <div class="text-center mt-2">
          <p class="text-sm text-grey-dark">Have an account? <a [routerLink]="['/login']"  class="no-underline text-indigo-700 font-bold hover:text-indigo-lighter">Sign in</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>
