<div class="container mx-auto flex flex-wrap items-stretch">
  <div class="w-9/12 py-5 pr-6">
    <div class="text-black font-light text-xl mb-2 text-basline">Followers</div>

    <div class="flex items-center bg-white border px-4 py-2">
      <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-black leading-none font-bold">Jonathan Reinink</p>
        <p class="text-grey-dark mt-2">Aug 18</p>
      </div>
    </div>

    <div class="flex items-center bg-white border-l border-r border-b px-4 py-2">
      <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-black leading-none font-bold">Jonathan Reinink</p>
        <p class="text-grey-dark mt-2">Aug 18</p>
      </div>
    </div>

  </div>
  <div class="w-3/12 h-screen">
    <app-side-bar></app-side-bar>
  </div>
</div>
